*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
}

header > img{
  width: 10%;
  margin-left: auto;
}

header > h2{
  margin-right: auto;
  font-size: 3rem;
  color: #3C175A;
}

.flex{
  display: flex;
  border: solid 3px green;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  width: 13em;
  margin: 0.5em 1.6em;
  border: #3C175A solid 2px;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.8rem;
  height: 20%;
}

.card-title{
  font-size: 0.9rem
}

span{
  font-weight: bold;
}

.logo{
  width: 100%;
  height: 30%;
}